{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Customer</a></li>
            <li class="active">Add Customer</li>
        </ol>
    </section>
    <br>
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Add Customer </h3>
                    </div>
                    <div class="box-body">
                        <form action="{% url 'customer:add' %}" method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label class="form-control-label">Name <span style="color:red">*</span></label>
                                    <input type="text" name="name" class="form-control form-control-alternative" placeholder="Name" >
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="form-control-label">Father Name <span style="color:red">*</span></label>
                                    <input type="text" name="father_name" class="form-control form-control-alternative" placeholder="Father Name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label class="form-control-label">CNIC <span style="color:red">*</span></label>
                                    <input type="text" name="cnic" class="form-control form-control-alternative" placeholder="CNIC">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="form-control-label">City <span style="color:red">*</span></label>
                                    <input type="text" name="city" class="form-control form-control-alternative" placeholder="City">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label class="form-control-label">Mobile <span style="color:red">*</span></label>
                                    <input type="text" name="mobile" class="form-control form-control-alternative" placeholder="Mobile">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="form-control-label">Alternate Mobile <span style="color:red">*</span></label>
                                    <input type="text" name="alternate_mobile" class="form-control form-control-alternative" placeholder="Alternate Mobile">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label class="form-control-label">Resident <span style="color:red">*</span></label>
                                    <input type="text" name="resident" class="form-control form-control-alternative" placeholder="Resident">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <label class="form-control-label">Complete Address <span style="color:red">*</span></label>
                                    <input type="text" name="address" class="form-control form-control-alternative" placeholder="Complete Address">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 form-group">
                                    <label class="form-control-label"></label>
                                    <button type="submit" value="Create" class="btn btn-primary form-control">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
