{% extends 'base.html' %}
{% block customer %}active{% endblock %}
{% block karigar_list %}active{% endblock %}
{% block content %}
{% load staticfiles %}

<div class="content-wrapper">
      <!-- Header -->
  <section class="content-header">
    <h1>
      Karigar List
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="{% url 'common:index' %}">
          <i class="fa fa-dashboard"></i> Home
        </a>
      </li>
      <li class="active">Karigar List</li>
    </ol>
  </section>


    <section class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box  box-primary">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control name_search"
                  placeholder="Search by name"
                >
              </div>

              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control id_search"
                  placeholder="Search by CNIC"
                >
              </div>

              <div class="col-md-2">
                <button class="btn btn-primary btn-block search">
                  <i class="fa fa-search"></i> Search
                </button>
              </div>
            </div>
                    <div class="box-body table-responsive">
                        <div class="">
                            <table class="table table-bordered table-hover">
                                <thead class="bg-gray">
                                <tr>
                                    <th>Name</th>
                                    <th>CNIC</th>
                                    <th>Mobile</th>
                                    <th>Unpaid Amount</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for customer in object_list %}
                                {% if customer.karigar == True%} 
                                <tr>

                                    <td>{{customer.name|title}}</td>
                                    <td>{{customer.cnic}}</td>
                                    <td>{{customer.mobile}}</td>
                                    <td>{{ customer.get_unpaid_amount|floatformat:-2 }}</td>
                                    <td class="text-center">
                                        <div class="btn-group">

                      <a
                        href="{% url 'customer:update' pk=customer.id %}"
                        class="btn btn-primary btn-xs"
                        title="Update"
                      >
                        <i class="fa fa-edit"></i> Update
                      </a>
                      <a
                        href="{% url 'product:karigar_detail' pk=customer.id %}"
                        class="btn btn-success btn-xs"
                        title="Ledger"
                      >
                        <i class="fa fa-book"></i> Karigar Detail
                      </a>

                      <a
                        href="{% url 'customer:ledger_list' pk=customer.id %}"
                        class="btn btn-info btn-xs"
                        title="Ledger"
                      >
                        <i class="fa fa-book"></i> Ledger
                      </a>

                    </div>
                                    </td>
                                </tr>
            
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if paginator.page_range|length > 1 %}
                            <div class="text-center col-lg-12">
                                <ul class="pagination justify-content-center">
                                    <li><a  style="background-color: #3070A8; color: white" class="page_previous" href="{% if page_obj.has_previous %}{% url 'customer:list' %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" title="Previous"><<</a></li>
                                    <li><a style="background-color: #3070A8; color: white" class="page_next" href="{% if page_obj.has_next %}{% url 'customer:list' %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" title="Next">>></a></li>
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
{% endblock %}
{% block script %}
    {{ block.super }}
<script>
$(function () {
    $('.search').on('click', function () {
        var url = '{% url "customer:list" %}';
        window.location.href  = url + '?' + 'customer_name=' + $('.name_search').val() + '&customer_id=' +  $('.id_search').val();
    });
})
</script>
{% endblock %}
