{% extends 'base.html' %}

{% block content %}

    <div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Invoices</a></li>
            <li class="active">Create</li>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header">
                        <h2 class="text-center "><b>Invoice List</b></h2>
                        <div class="col-lg-12">
                            <div class="col-lg-6 pull-left">
                                <input type="text" class="form-control name_search" placeholder="Search by Name ..." >
                            </div>
                            <div class="col-lg-6 pull-left">
                                <input type="text" class="form-control id_search" placeholder="Search by Receipt No ...">
                            </div>
                            <div class="col-lg-6 pull-left">
                                <input type="date" class="form-control date_search" placeholder="Search by Date ...">
                            </div>
                            <div class="pull-right">
                                <button class="form-control btn btn-primary search">Search</button>
                            </div>
                        </div>
                        <br><br>
                        <hr>
                        <hr>

                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table align-items-center table-striped table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Date</th>
                                        <th>Invoice</th>
                                        <th>Customer</th>
                                        <th>Quantity</th>
                                        <th>Sub Total</th>
                                        <th>Grand Total</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if not object_list %}
                                    <tr><td colspan="7" class="text-center">No Invoices Found!</td></tr>
                                {% endif %}
                                {% for invoice in object_list %}
                                    <tr>
                                        <td>{{ invoice.date }}</td>
                                        <td>{{ invoice.id|stringformat:"04d" }}</td>
                                        <td>{{ invoice.customer.name|title }}</td>
                                        <td>{{ invoice.total_quantity|floatformat:-2 }}</td>
                                        <td>{{ invoice.sub_total|floatformat:-2 }}</td>
                                        <td>{{ invoice.grand_total|floatformat:-2 }}</td>
                                        <td class="text-center">
                                            <a href="#"><button class="btn btn-primary btn-xs">Update</button></a>
                                            <a href="{% url 'sales:invoice_detail' pk=invoice.id %}"><button class="btn btn-info btn-xs">View</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if paginator.page_range|length > 1 %}
                                <div class="text-center">
                                    <ul class="pagination">
                                        <li><a  style="background-color: #3070A8; color: white" class="page_previous" href="{% if page_obj.has_previous %}{% url 'sales:invoice_list' %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" title="Previous"><<</a></li>
                                        <li><a style="background-color: #3070A8; color: white" class="page_next" href="{% if page_obj.has_next %}{% url 'sales:invoice_list' %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" title="Next">>></a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block script %}
    {{ block.super }}
<script>
$(function () {
    $('.search').on('click', function () {
        var url = '{% url "sales:invoice_list" %}';
        window.location.href  = url + '?' + 'customer_name=' + $('.name_search').val() + '&customer_id=' +  $('.id_search').val() + '&date=' +  $('.date_search').val();
    });
})
</script>

<script>
$('#invoice').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});

</script>
{% endblock %}