{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">List</li>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">All List</h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table align-items-center table-striped table-bordered table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Litre</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}
                                <tr>
                                    <td>{{product.name|title}}</td>
                                    <td>{{product.category|title}}</td>
                                    <td>{{product.litre|title}}</td>
                                    <td>{{product.quantity|title}}</td>
                                    <td>{{product.unit_price|title}}</td>
                                    <td>{{product.amount|title}}</td>
                                    <td>{{product.date|title}}</td>
                                    <td class="text-center">
                                        <a href="{% url 'product:update' pk=product.id %}"><button class="btn btn-primary btn-xs"><i class="fa fa-edit" title="Update"></i></button></a>
                                        <a href="{% url 'product:stockin_detail' pk=product.id %}"><button class="btn btn-primary btn-xs"><i class="fa fa-plus" title="Stock In"></i></button></a>
                                        <a href="{% url 'product:stockout_detail' pk=product.id %}"><button class="btn btn-primary btn-xs"><i class="fa fa-minus" title="Stock Out"></i></button></a>
                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
