{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block customer %}active{% endblock %}
{% block customer_list %}active{% endblock %}

{% block content %}
<div class="content-wrapper">

  <!-- Header -->
  <section class="content-header">
    <div class="row">
      <div class="col-md-6">
        <h1>
          Ledger Statement
          <small>{{ customer.name|title }}</small>
        </h1>
      </div>

      <div class="col-md-6 text-center">
        <a href="{% url 'customer:ledger_debit' pk=customer.id %}" class="btn btn-success">
          <i class="fa fa-plus"></i> Add Ledger
        </a>
        <a href="{% url 'customer:ledger_credit' pk=customer.id %}" class="btn btn-danger">
          <i class="fa fa-money"></i> Pay Ledger
        </a>
      </div>
    </div>

    <ol class="breadcrumb">
      <li>
        <a href="{% url 'common:index' %}">
          <i class="fa fa-dashboard"></i> Home
        </a>
      </li>
      <li>
        <a href="{% url 'customer:list' %}">Customer List</a>
      </li>
      <li class="active">Ledger</li>
    </ol>
  </section>

  <!-- Content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">

        <div class="box box-info">

          <!-- Customer Info -->
          <div class="box-header with-border text-center">
            <h3>
              <b>{{ customer.name|title }}</b>
              <small>
                |
                {% if customer.karigar == "karigar" %}
                  Karigar
                {% else %}
                  Customer
                {% endif %}
                Ledger
              </small>
            </h3>
          </div>

          <!-- Filter -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-3">
                <input
                  type="date"
                  class="form-control date_search"
                >
              </div>

              <div class="col-md-2">
                <button class="btn btn-primary btn-block search">
                  <i class="fa fa-search"></i> Search
                </button>
              </div>
            </div>
          </div>

          <!-- Table -->
          <div class="box-body table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="bg-gray">
                <tr>
                  <th>Date</th>
                  <th>Detail</th>
                  <th class="text-right">Debit Amount</th>
                  <th class="text-right">Credit Amount</th>
                </tr>
              </thead>

              <tbody>
              {% for ledger in object_list %}
                <tr>
                  <td>{{ ledger.date }}</td>
                  <td>{{ ledger.details }}</td>
                  <td class="text-right text-danger">
                    {{ ledger.debit_amount|floatformat:-2|intcomma }}
                  </td>
                  <td class="text-right text-success">
                    {{ ledger.credit_amount|floatformat:-2|intcomma }}
                  </td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="4" class="text-center text-muted">
                    No ledger records found
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          {% if paginator.page_range|length > 1 %}
          <div class="box-footer text-center">
            <ul class="pagination pagination-sm">
              <li>
                <a href="{% if page_obj.has_previous %}{% url 'customer:ledger_list' pk=customer.id %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">
                  &laquo; Prev
                </a>
              </li>
              <li>
                <a href="{% if page_obj.has_next %}{% url 'customer:ledger_list' pk=customer.id %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">
                  Next &raquo;
                </a>
              </li>
            </ul>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block script %}
{{ block.super }}
<script>
$(function () {
  $('.search').on('click', function () {
    var url = '{% url "customer:ledger_list" pk=customer.id %}';
    window.location.href = url + '?date=' + $('.date_search').val();
  });
});
</script>
{% endblock %}
